.layout-headr{
  display: inline-flex;
  width: 100%;
  font-weight: bold;
  color: darkslateblue;
}

.layout-record-headr{
  margin: 0 auto 1rem;
}

.layout-record-container{
  display: inline-flex;
  width: 100%;
  margin: 0.5rem 0;
}

.layout-record{
  margin: 0 auto;
}
