span{
  font-weight: bolder;
  color: #656565;
}

.container-record{
  display: flex;
  margin: 1rem;
  padding: 0 0 .5rem;
  border-radius: 2px;
  box-shadow: 0px 0px 5px #c2c2c2;
}

.container-img{
  margin: .5rem 0 .5rem .5rem;
}

.container-todoName{
  margin: 0 auto;
}

.todoName{
  margin: .5rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.todoName:hover{
  color: rgb(130, 4, 63);
}

.container-btn-icon{
  margin: .5rem .5rem .5rem 0;
}